html {
  font-size: 12pt;
  color: rgb(16, 15, 15);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
background-image:linear-gradient(to bottom right, darkgray, lightgreen);
background-image: cover;
background-repeat: no-repeat;
}


header,
footer {
  margin-top:1px;
  padding: 0 20px;
  text-align:center;
}

main {

  border-top-style:double;
  border-bottom-style:double;
}

a {
  display:block;
  text-align:center;
}

p {
  text-align:center;
}

h1 {
  font-size: 2rem;
  background-color: lightsalmon;
  text-align: center;
  margin:10px 10px;
}

h2 {
  font-size: 1.5rem;
  background-color: lightsalmon; 
  text-align:center;
  margin:10px 10px;
}

footer {
  font-size:smaller;
}


main {
  padding-bottom:800px;
}

table{
  margin-top: 50px;
  border-style: solid;
  border-color:rgb(184, 118, 96);
  justify-content: center;
  color: rgb(16, 15, 15);
  min-height:fit-content;
  margin-left: 150px;

}

th{
  border-style: solid;
  border-color: rgb(184, 118, 96);
  align-content: center;
  min-width: 50px;
  font-size: larger;
  text-decoration: underline;
}

tr{
  border-style: solid;
}

td{
  text-align: center;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-color: rgb(25, 85, 28);
  margin: 0px;
}
